@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lexend+Tera&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota&family=Roboto:wght@300&display=swap');

#navigationbar{
  background-color: #000;
  padding: 0px;
  margin: auto;
  transition: all 1s;
  color: #fff;
  max-height: 400px;
  transition: all 1s;
}

#home,#top,#loginscreen,#contactus{
  font-family:"bellota", sans-serif;
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  margin-right: 10px;
}

.linkk:link, .linkk:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.linkk:hover, .linkk:active{
  color: red;
}

#home{
  margin-left: 500px;
}
article{
  margin:0px;
}

body>div>article{
  margin: 0px;
  display:inline-block;
  max-width: 650px;

}

#ho{
  background-image: url("file:///C:/Users/Mehul/Documents/filmania/Editor.png");
  background-size: cover;
  margin: auto;
  padding: 90px;
  margin-bottom: 4px;
  background-position: absolute;
  border-bottom: 5px solid #fff;
  transition: all 1s;
}

#ho>h1{
  font-family: 'lobster',sans-serif;
  margin:auto;
  font-weight: 10;
  color: #fff;
  text-shadow: 8px 3px 4px #000 !important;
  font-size: 180;
  letter-spacing: 4px;
  margin-bottom: 0px;
  text-transform: capitalize;
  max-width: 1900px;
  transition: all 1s;
}

#searchingtab{
  margin-left: 450px;
  width: 460px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  border-radius: 10px;
  border: 0px;
  text-align-last: center;
  border: 2px solid #000;
}

#gotab{
  margin-left: 650px;
  margin-top: 10px;
  width: 60px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
}

body{
border: 0px;
margin: 0px;
background-image: url("file:///C:/Users/Mehul/Documents/filmania/trending.html/51620.jpg");
transition: all 1s;
}

#ab{
  font-family:"Lexend Tera", sans-serif;
  color: #fff;
  font-size: 20px;
  padding: 25px;
  max-width: 1100px;
  max-height: 600px;
  margin:auto;
  margin-top: 0px;
  transition: all 1s;
}

article>p{
  font-family:"roboto", sans-serif;
  color: #fff;
  font-size: 20px;
}

#Trending{
  font-family:"Lexend Tera", sans-serif;
  font-size: 20px;
  background-color: #000;
  color: #ffffff;
  max-width: 2100px;
  margin-bottom: 0px;
  padding-top: 5px;
  border-top: 5px solid #fff;
  transition: all 1s;
}

.top3{
  background-color: #000;
  padding: 40px;
  margin: auto;
  max-width: 1500px;
  margin-top: 0px;
border-bottom: 2px solid #fff;
transition: all 1s;
}

.oneshow{
  max-width: 25%;
  font-family:"roboto", sans-serif;

  font-size: 20px;
  display:inline-block;
  margin-right: 17px;
  margin-left: 85px;
  transition: all 1s;
  border-radius: 20px;
  transition: all 1s;

}

.oneshow:hover{
  background-image: url("file:///C:/Users/Mehul/Documents/filmania/trending.html/51620.jpg");
  background-size: cover;
  transition: all 1s;
}

section>article>h4{
  font-family:"Lexend Tera", sans-serif;
  font-size: 20px;
  color: #ffffff;
  transition: all 1s;
}

section>article>p{
  font-family:"roboto", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 1px;
  transition: all 1s;
}

article img{
  padding: 5px;
  max-width: 60%;
  border-bottom: 0px;
  margin-left: 70px;
  transition: all 1s;
}

#Trendingmo{
  font-family:"Lexend Tera", sans-serif;
  font-size: 20px;
  color: #fff;
  max-width: 2100px;
  margin-bottom: 0px;
  padding-top: 5px;
  margin-top: 0px;
  transition: all 1s;
}

.top3movies{
  background-image: url("file:///C:/Users/Mehul/Documents/filmania/trending.html/51620.jpg");
  background-size: cover;
  margin-top: 10px;
  padding: 40px;
  margin: auto;
  max-width: 1500px;
  margin-top: 0px;
  border-bottom: 2px solid #fff;
  transition: all 1s;
}

.onemovie{
  max-width: 25%;
  font-family:"roboto", sans-serif;
  font-size: 20px;
  display:inline-block;
  margin-right: 17px;
  margin-left: 85px;
  transition: all 1s;
  border-radius: 20px;
  transition: all 1s;

}

.onemovie:hover{
  background-color: #000;
  transition: all 1s;
}

.aboot{
  font-family:"Lexend Tera", sans-serif;
  font-size: 20px;
  color: #000000;
}

.paraa{
  font-family:"roboto", sans-serif;
  color: #fff;
  font-size: 20px;
  padding: 1px;
}

article img{
  padding: 5px;
  max-width: 60%;
  border-bottom: 0px;
  margin-left: 10px;
}

#scrolls{
  background-color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

#hauntedholly{
  margin-top: 0px;
  color: #fff;
  font-family:"Lexend Tera", sans-serif;
  font-size: 20px;
  margin-bottom: 4px;
  padding: 7px;
  transition: all 1s;

}

.haunted{
  max-width: 17%;
  font-family:"roboto", sans-serif;
  font-size: 20px;
  display:inline-block;
  transition: all 1s;
  margin-left: 9px;
  margin-top: 6px;
  border-radius: 10px;
  transition: all 1s;
}


.haunted:hover{
  border: 1px solid #f00;
}

.holl{
  max-width: 100%;
  border-bottom: 0px;
  margin:0px;
  padding: 0px;
  border-radius: 10px;
}

#fb{
  margin: 0px;
  border-top: 2px solid #fff;
  padding: 5px;
  transition: all 1s;
}
#matter{
    color: #fff;
    font-family: "bellota", sans-serif;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;

}

#alot{
  color: #fff ;
  margin-top: 0px;
  font-family: "roboto", sans-serif;
  margin-bottom: 0px;

}

#cr{
  color: #fff ;
  margin-top: 0px;
  font-family: "roboto", sans-serif;
  background-color: #000;
  margin: 0px !important;
  padding-top: : 17px;
  height: 30px;
}

#maill:link, #maill:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-decoration: underline;
}

#maill:hover, #maill:active{
  color: yellow;
}

.linkks:link, .linkks:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-decoration: none;
}

.links:link, .links:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-decoration: none;
}
