@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lexend+Tera&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota&family=Roboto:wght@300&display=swap');

body{
  margin: 0px;
  background-color: #000;

}
#navigationbar{
  font-family: sans-serif;
  background-color: #000;
  padding: 0px;
  margin: auto;
  transition: all 1s;
  max-height: 400px;
  margin-bottom: 0px;
  transition: all 1s;
}

#home,#top,#loginscreen,#contactus{
  font-family:"bellota",sans-serif !important;
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  margin-right: 10px;
}

.linkk:link, .linkk:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.linkk:hover, .linkk:active{
  color: red;
}

#home{
  margin-left: 500px;
}


body>div>article{
  margin: 0px;
  display:inline-block;
  max-width: 650px;
}

#videoo{
  background-image: url("file:///C:/Users/Mehul/Documents/filmania/ko/1773899.jpg");
  background-size: cover;
  height: 500px;
  border-bottom: 10px solid #fff;
  border-top: 10px solid #fff;
  transition: all 1s;
}


#trailer{
  margin-left: 110px;
  margin-top: 75px;
  display: inline-block;
  border: 1px solid #fff;
}

.logo{
  display: inline-block;
  margin-left: 10px;
}

article img{
  width: 700px;
}

#content{
  background-image: url("file:///C:/Users/Mehul/Documents/filmania/ko/bg.jpg");
  background-size: contain;
  border: : 0px !important;
  background-repeat: no-repeat;
  background-color: #000;
  transition: all 1s;
}

#fm{
  font-family: 'anton',sans-serif;
  margin:auto;
  font-weight: 8;
  color: #fff;
  font-size: 50;
  margin-top: 10px;
  margin-bottom: 15px;
  text-transform: capitalize;
  max-width: 1900px;
  text-align: center;
  height: 80px;
  border-top: 0px;
  margin-left: 350px;
  width: 1000px;
}

section>p{
  font-family:"roboto", sans-serif;
  font-size: 20px;
  background-color: #000;
  color: #ffffff;
  max-width: 2100px;
  margin-bottom: 0px;
  padding-top: 5px;
  margin-top: 0px;
  text-align: center;
  width: 1300px;
  margin-left: 200px;
  margin-bottom: 20px;

}
#fb{
  margin: 0px;
  border-top: 2px solid #fff;
  padding: 5px;
  background-image: url("file:///C:/Users/Mehul/Documents/filmania/trending.html/51620.jpg");

}
.matter{
    color: #fff;
    font-family: "bellota", sans-serif;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;

}

.alot{
  color: #fff ;
  margin-top: 0px;
  font-family: "roboto", sans-serif;
  margin-bottom: 0px;
}

#cr{
  color: #fff ;
  margin-top: 0px;
  font-family: "roboto", sans-serif;
  background-color: #000;
  margin: 0px !important;
  padding-top: : 17px;
  height: 30px;
}

#maill:link, #maill:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-decoration: underline;
}

#maill:hover, #maill:active{
  color: yellow;
}
