@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lexend+Tera&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota&family=Roboto:wght@300&display=swap');

body{
  margin: 0px;
  background-color: #000;

}
#navigationbar{
  font-family: sans-serif;
  background-color: #000;
  padding: 0px;
  margin: auto;
  transition: all 1s;
  max-height: 400px;
  margin-bottom: 0px;
}

#home,#top,#loginscreen,#contactus{
  font-family:"bellota",sans-serif !important;
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  margin-right: 10px;
}

.linkk:link, .linkk:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.linkk:hover, .linkk:active{
  color: red;
}

#home{
  margin-left: 500px;
}


body>div>article{
  margin: 0px;
  display:inline-block;
  max-width: 650px;
}

#ho{
  background-image:url("file:///C:/Users/Mehul/Documents/filmania/trending.html/623035.jpg");
  background-size: cover;
  margin: auto;
  padding: 90px;
  margin-bottom: 4px;
  background-position: absolute;
}

#ho>h1{
  font-family: 'lobster',sans-serif;
  margin:auto;
  font-weight: 10;
  color: #fff;
  text-shadow: 8px 3px 4px #000 !important;
  font-size: 180;
  letter-spacing: 4px;
  margin-bottom: 40px;
  text-transform: capitalize;
  max-width: 1900px;
}

#searchingtab{
  margin-left: 450px;
  width: 460px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  border-radius: 10px;
  border: 0px;
  text-align-last: center;
  border: 2px solid #000;
}

#gotab{
  margin-left: 650px;
  margin-top: 10px;
  width: 60px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
}

#tsh{
  font-family:"Lexend Tera", sans-serif;
  font-size: 20px;
  background-color: #000;
  color: #ffffff;
  max-width: 2100px;
  margin-bottom: 0px;
  padding-top: 5px;
  margin-top: 0px;
}

#ts{
  background-image: url("file:///C:/Users/Mehul/Documents/filmania/trending.html/624011.jpg");
  background-position: center;
  background-size: cover;
  margin-top: 0px;
  padding: 20px;
  transition: all 2s;
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  height: 750px;
}

#im{
  width: 450px;
  height: 450px;
  margin-left: 45px;
  margin-top: 45px;
  margin-bottom: 30px;
  margin-top: 30px;
  border: 5px solid #fff;

}

.showing{
  max-width: 500px;
  margin-top: 105px;
  margin-left: 280px;
  margin-bottom: 30px;
  display: inline-block;
  margin-right: 20px;
}

.showingg{
  text-align: left;
  margin-top: 0px;
  margin-bottom: 30px;
  display: inline-block;
  margin-right: 0px;
  margin-left: 10px;
  width: 400px;

}

section>article>h2{
  font-family:"Odibee Sans", sans-serif;
  font-size: 50px;
  color: #ffffff;
  margin-bottom: 0px;
  padding: 0px;
  margin-left: 0px;
  letter-spacing: 1px;
  font-weight: 2px;
  margin-bottom: 0px;

}

section>article>h3{
font-family: "roboto",sans-serif;
font-weight: 0px;
  font-size: 23px;
  color: #ffffff;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 20px;
}


#tm{
  background-image: url("file:///C:/Users/Mehul/Documents/filmania/trending.html/Presentation1.jpg");
  background-position: center;
  background-size: cover;
  margin-top: 0px;
  padding: 20px;
  transition: all 2s;
  border-top: 20px solid #fff;
  border-bottom: 10px solid #fff;
  height: 600px;
}

.showinggm{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
  display: inline-block;
  margin-right: 0px;
  margin-left: 160px;
  width: 400px;
}

#alot{
  color: #fff ;
  margin-top: 0px;
  font-family: "roboto", sans-serif;
  margin-bottom: 0px;

}

#cr{
  color: #fff ;
  margin-top: 0px;
  font-family: "roboto", sans-serif;
  background-color: #000;
  margin: 0px !important;
  padding-top: : 17px;
  height: 30px;
}

#maill:link, #maill:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-decoration: underline;
}

#maill:hover, #maill:active{
  color: yellow;
}

#fb{
  margin: 0px;
  border-top: 2px solid #fff;
  padding: 5px;
  background-image: url("file:///C:/Users/Mehul/Documents/filmania/trending.html/51620.jpg");
}
#matter{
    color: #fff;
    font-family: "bellota", sans-serif;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;

}
